{% extends 'eees/base.html' %}

{% block titulo %}
	Ingresa al sistema
{% endblock %}

{% load staticfiles %}

{% block style_css %}

	<!-- Custom styles for this template -->
	<link href="{% static 'eees/css/freelancer.min.css' %}" rel="stylesheet">

{% endblock %}

{% block contenido %}

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand js-scroll-trigger" href="/">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						EEEScolar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/">Inicio</a>
						</li>
            <li>
							<a href="{% url 'eees:signup' %}">Registro</a>
						</li>
						<li class="active">
							<a href="{% url 'eees:login' %}">Entrar</a>
						</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<section>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4 col-md-offset-4">
										<div style="margin-top:0%" class="login-panel panel panel-default">
		                    <div class="panel-heading">
		                        <h3 class="panel-title">Ingrese sus datos</h3>
		                    </div>
		                    <div class="panel-body">
		                        <form role="form" method='post'>
		                          {% csrf_token %}
		                          {% load widget_tweaks %}
		                            <fieldset>
		                                {{ form.non_field_errors }}

		                                <div class="form-group">
		                                    {{ form.username.errors }}

		                                    {% render_field form.username placeholder="E-mail" class+="form-control" %}
		                                </div>
		                                <div class="form-group">
		                                    {{ form.password.errors }}
		                                    {% render_field form.password placeholder="Password" class+="form-control" %}
		                                </div>


		                                <!-- Change this to a button or input when using this as a form -->
		                                <input class="btn btn-lg btn-success btn-block" type='submit' value='Ingresar'>
																		<p style="text-align:center">
																			<a class="btn btn-link" href="{% url 'eees:password_reset__form' %}">¿Olvidaste la contrase&ntilde;a?</a>

																			<a class="btn btn-link" href="{% url 'eees:signup' %}">Registrarse</a>
																		</p>
		                            </fieldset>
		                        </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		<!-- Modal #loginError -->
		<div class="modal fade" id="loginError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Notificaci&oacute;n:</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="panel panel-red">
							<div class="panel-heading">
								 <b>ERROR DE ACCESO</b>
							</div>
							<div class="panel-body">
									<p>El usuario y/o la contrase&ntilde;a
										no coinciden o no existen.</p>
							</div>
							<div class="panel-footer">
									Por favor, intentelo de nuevo.
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="/" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal #passwordMail -->
		<div class="modal fade" id="passwordMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Notificaci&oacute;n:</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="panel panel-green">
							<div class="panel-heading">
								 <b>RESTABLECER CONTRASEÑA</b>
							</div>
							<div class="panel-body">
									<p>Se ha enviado un mensaje con un <b>link</b> para restablecer
									la contrase&ntilde;a al correo del usuario.</p>
							</div>
							<div class="panel-footer">
									Por favor, confirme. <br />
									<b>NOTA: Si su cuenta esta inactiva, no recibir&aacute; el mensaje.</b>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="/" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal #passwordDone -->
		<div class="modal fade" id="passwordDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Notificaci&oacute;n:</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="panel panel-green">
							<div class="panel-heading">
								 <b>SE HA RESTABLECIDO LA CONTRASEÑA</b>
							</div>
							<div class="panel-body">
									<p>La contrase&ntilde;a ha sido restablecida.</p>
							</div>
							<div class="panel-footer">
									Ya puede iniciar sesi&oacute;n.
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="/" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

{% block script %}
			<script>
				//shortcut for $(document).ready
				$(function(){
						if(window.location.hash) {
								var hash = window.location.hash;
								$(hash).modal('toggle');
						}
				});
			</script>
{% endblock %}
